html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.section-1 {
  display: grid;
  grid-template-columns: auto 250px 250px auto;
  grid-template-rows: 250px 250px;
  grid-gap: 20px;
  background: #4483D4;
  padding: 20px;
  color: white;
}

.section-1 > .box {
  background: #2C60B8;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 40px;
}

.section-1 > .box1 {
  grid-column: 2;
}

.section-1 > .box3 {
grid-column: 2 / span 2;
}

.section-2 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px)  ;
  grid-gap: 50px 180px;
  /* background-color: #FFD426; */
  background-color: #FFF;
}

.section-2 > .box {
  background-color: #4483D4;
}

.section-2 > .box1 {
  grid-column: 3 / 4;
}

.section-2 > .box2 {
  grid-column: 2 / 3;
}

.section-2 > .box3 {
  grid-column: 1 / 2;
}